* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  display: block;
  border: 0;
  width: 100%;
}

.clearfix {
  zoom: 1;
}

.clearfix::after {
  content: '.';
  display: block;
  height: 0;
  ;
  clear: both;
  visibility: hidden;
}